<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><playpercentage>50.0</playpercentage><queue/><library><name>ejgnown</name><url>http://oweignow</url><time>1654606884186</time><freq>1</freq><dynamic>false</dynamic><artist> </artist><name>owdngwokgVM</name><url>http://PLA,SVPl,s</url><time>1654606539261</time><freq>1</freq><dynamic>false</dynamic><artist> </artist></library></settings>