<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><playpercentage>50.0</playpercentage><queue/><library><name>i like me better</name><url>http://iev2iv</url><time>1654552070696</time><freq>1</freq><dynamic>false</dynamic><artist> </artist><name>lucky strike</name><url>http://2evn2one 2on</url><time>1654604785781</time><freq>1</freq><dynamic>false</dynamic><artist> </artist><name>maintenance</name><url>http://2oenv2oive</url><time>1654604765601</time><freq>1</freq><dynamic>false</dynamic><artist> </artist></library></settings>